* {
  background-color: linen;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  padding: 1rem;
  background-color: aquamarine;
  font-family: "Yeseva One", cursive;
}
header img {
  float: right;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
main {
  padding-top: 5rem;
}
#attributions {
  display: none;
}