* {
  background-color: linen;
  text-align: center;
}
body {
  width: 99%;
  height: 95vh;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  /* padding: 1rem; */
  border: solid 2px aquamarine;
  font-family: "Yeseva One", cursive;
}
header img {
  float: right;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
main {
  padding: 1rem;
  border: 5px solid green;
  font-family: "JetBrains Mono", monospace;
}
#attributions {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}
#clockface {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: blue;
  align-self: center;
}
#timer-numbers {
  font-family: "JetBrains Mono", monospace;
  font-size: 25px;
}
#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#dog-pic {
  max-width: 300px;
  max-height: 300px;
  align-self: center;
}
#hidden {
  height: 90vh;
  width: 90vh;
  transition: opacity 0.2s;
  /* opacity: 0;
  pointer-events: none; */
}